// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-color{
	background-color: #ece9e9;
	margin-top: 20px;
	margin-bottom: 20px;
}

.h1-text{
	font-size: 30px;
}

.h2-text{
	font-size: 20px;
}

.panel {
	margin: 30px 0;
}