// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #65656d;
	height: 1000px;
}

.match{
	background-color: #ece9e9;
	margin-top: 20px;
}

.match a{
	color: gray;
  	text-decoration:none;
}
.item{
	font-size: 12px;
}