// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #65656d;
}

.user-show{
	background-color: #ece9e9;
	margin-top: 20px;
	margin-bottom: 20px;
}

.rate-text{
  font-size: 30px;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  color: red;
}
.rate-text:before, .rate-text:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.rate-text:before {
  left: 7px;
}
.rate-text:after {
  right: 7px;
}
