// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #65656d;
}

.user-show{
	background-color: #ece9e9;
	margin-top: 20px;
	margin-bottom: 20px;
}